<!--Double navigation-->
<header>
    <!-- Sidebar navigation -->
    <mdb-sidenav #sidenav class="default-color fixed" [fixed]="false" >
            <logo>
                <!-- Logo -->
                    <li>
                        <div class="logo-wrapper waves-light">
                            <a href="/"><img src=".\assets\images\logo-sm.png" class="img-fluid flex-center" style="padding-right: 87px;"></a>
                        </div>
                    </li>
                    <!--/. Logo -->
                </logo>
        <!--        <logo>
            <li>
                <div class="logo-wrapper waves-light">
                    <a href="#">
                        <img src="http://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center">
                    </a>
                </div>
            </li> 
        </logo>  -->
        <links>
            <!--Social-->
            <li>
                <ul class="social">
                    <li>
                        <a class="icons-sm fb-ic" href="https://www.facebook.com/IraqPMMediaOffice">
                            <i class="fa fa-facebook"> </i>
                        </a>
                    </li>
                    <li>
                        <a class="icons-sm pin-ic" href="https://www.youtube.com/user/pmoiraqichannel">
                            <i class="fa fa-youtube"> </i>
                        </a>
                    </li>
                    <li>
                        <a class="icons-sm tw-ic" href="https://twitter.com/IraqiPMO">
                            <i class="fa fa-twitter"> </i>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/Social-->

            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion" style="padding-top:40px" align="right">
                    <mdb-squeezebox [multiple]="false" aria-multiselectable="false">
                        <!-- Collapsible link -->
                        <!-- Simple link -->
                        <mdb-item class="no-collase text-md-right">
                            <mdb-item-head mdbRippleRadius routerLink="/declaration">
                                <p class="h5">
                                    <i class="fa fa-newspaper-o"></i>{{declaration}}</p>
                            </mdb-item-head>
                            <mdb-item-body></mdb-item-body>
                        </mdb-item>
                        <mdb-item class="no-collase text-md-right">
                            <mdb-item-head mdbRippleRadius  routerLink="/speeches">
                                <p class="h5">
                                    <i class="fa fa-newspaper-o"></i>{{speeches}}</p>
                            </mdb-item-head>
                            <mdb-item-body></mdb-item-body>
                        </mdb-item>
                        <mdb-item class="no-collase text-md-right">
                            <mdb-item-head mdbRippleRadius routerLink="/statement">
                                <p class="h5">
                                    <i class="fa fa-newspaper-o"></i>{{statement}}</p>
                            </mdb-item-head>
                            <mdb-item-body></mdb-item-body>
                        </mdb-item>
                        <mdb-item class="no-collase text-md-right">
                            <mdb-item-head mdbRippleRadius routerLink="/gallery">
                                <p class="h5">
                                    <i class="fa fa-newspaper-o"></i>{{gallery}}</p>
                            </mdb-item-head>
                            <mdb-item-body></mdb-item-body>
                        </mdb-item>
                        <mdb-item class="no-collase text-md-right">
                            <mdb-item-head mdbRippleRadius routerLink="/dietary">
                                <p class="h5">
                                    <i class="fa fa-newspaper-o"></i>{{dietary}}</p>
                            </mdb-item-head>
                            <mdb-item-body></mdb-item-body>
                        </mdb-item>
                         <mdb-item class="no-collase text-md-right">
                            <mdb-item-head mdbRippleRadius routerLink="/search">
                                <p class="h5">
                                    <i class="fa fa-newspaper-o"></i>{{search}}</p>
                            </mdb-item-head>
                            <mdb-item-body></mdb-item-body>
                        </mdb-item> 
                        <mdb-item class="no-collase text-md-right">
                            <mdb-item-head mdbRippleRadius  routerLink="/admin">
                                <p class="h5">
                                    <i class="fa fa fa-eye"></i>{{admin}}</p>
                            </mdb-item-head>
                            <mdb-item-body></mdb-item-body>
                        </mdb-item>

                    </mdb-squeezebox>
                </ul>
            </li>
            <!--Search Form-->
<!--             <li style="padding-right: 20px">
                <form class="search-form" role="search">
                    <div class="form-group waves-light" mdbRippleRadius>
                        <input type="text" class="form-control" placeholder="{{searchPlaceholder}}">
                    </div>
                </form>
            </li> -->
            <!--/.Search Form-->

            <!--/. Side navigation links -->
        </links>
        <div class="sidenav-bg mask-strong"></div>
    </mdb-sidenav>
    <!--/. Sidebar navigation -->
    <!-- Navbar -->
    <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar ie-nav double-nav bg-default"
        [containerInside]="false">
        <logo>
            <navlinks class="navbar-container" >
                <!-- SideNav slide-out button -->
                <div class="float-left" >
                    <a (click)="sidenav.show()" class="button-collapse" style="padding-left:20px">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <!--/. SideNav slide-out button -->
            </navlinks>
            <!-- Breadcrumb-->
            <logo>

                <a class="logo navbar-brand" href="/">
                    <h2 class="h2-responsive">
                        <strong>{{PMO}}</strong>
                    </h2>
                </a>
            </logo>
            <!--Search Form-->

            <!--/.Search Form-->
            <!--/. Breadcrumb-->
        </logo>


        <navlinks>
            <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
            </ul>
        </navlinks>
    </mdb-navbar>
    <!--/. Navbar -->
</header>
<!--/.Double navigation-->

<!--Main Layout-->

<!--/Main layout-->