<!-- <div class="card">
  <div class="card-content">
    <span class="card-title">Add Item</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="input-field">
          <input type="text" placeholder="Add Title" [(ngModel)]="item.title" name="title">
          <label>Title</label>
        </div>
        <textarea [(ngModel)]="item.content" name="content" placeholder="Content.."></textarea>
        <textarea [(ngModel)]="item.subContent" name="subContent" placeholder="subContent.."></textarea>
        <input type="submit" value="Submit" class="btn">
      </div>
    </form>
  </div>
</div> -->

<button type="button" class="btn btn-primary btn-lg btn-block waves-light" data-toggle="modal" data-target="#basicExample"
  (click)="fluid.show()" mdbRippleRadius >
 <h5> اضافة مقال</h5>
</button>

<div mdbModal #fluid="mdb-modal" class="modal fade Top" id="fullHeightModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" align="right">
  <div class="modal-dialog modal-full-height modal-Top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">اضافة مقال</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fluid.hide()">
          <span aria-hidden="true">×</span>
        </button> -->
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="input-field">
            <label>العنوان</label>
            <input type="text" placeholder="عنوان المقال" [(ngModel)]="item.title" name="title">
          </div>
          <div class="input-field">
            <label>نوع المقال</label>
            <input type="text" placeholder="نوع المقال" [(ngModel)]="item.type" name="type">
          </div>
          <!-- <div><img src="{{item.image}}" width="300"></div> -->
          <div><img src="https://firebasestorage.googleapis.com/v0/b/firebase-egav.appspot.com/o/logo%2Fthumnail_logo.jpg?alt=media&token=1c851838-d46b-4c73-9f70-e5a0374a226a" width="300"></div>
          <label>المقال</label>
          <!-- <textarea [(ngModel)]="item.content" name="content" placeholder="المقال"></textarea> -->
          <!-- <fate-ui uiId="1"></fate-ui> -->
          <fate-input uiId="1" name="content" [(ngModel)]="item.content"></fate-input>
          <label>ملخص المقال</label>
          <!-- <fate-ui uiId="2"></fate-ui> -->
          <!-- <textarea [(ngModel)]="item.subContent" name="subContent" placeholder="ملخص المقال"></textarea> -->
          <fate-input uiId="2"name="subContent" [(ngModel)]="item.subContent"></fate-input>
          <!-- <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="false" [(ngModel)]="item.content"></app-ngx-editor> -->
          <div>
              <mdb-date-picker name="mydate" [placeholder]="'Selected date'" [(ngModel)]="item.creatAt" required></mdb-date-picker>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="fluid.hide()" mdbRippleRadius>غــلــق</button>
            <button type="submit" value="Submit" class="btn btn-primary waves-light" mdbRippleRadius>حفظ التغييرات</button>
          </div>
        </form>
      </div>
      </div>
  </div>