<!-- <div class="card">
  <div class="card-content">
    <span class="card-title">Add Item</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="input-field">
          <input type="text" placeholder="Add Title" [(ngModel)]="item.title" name="title">
          <label>Title</label>
        </div>
        <textarea [(ngModel)]="item.content" name="content" placeholder="Content.."></textarea>
        <textarea [(ngModel)]="item.subContent" name="subContent" placeholder="subContent.."></textarea>
        <input type="submit" value="Submit" class="btn">
      </div>
    </form>
  </div>
</div> -->

<div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering"
  style="padding-top:30px">
  <div *ngIf="downloadURL | async as url">
    
    <img [src]="url">
    <br>
    <!-- <p>{{url}}</p> -->
    <button class="btn" (click)="saveUrl(url)">save the picture</button>
       <!-- <a [href]="url" target="_blank" rel="noopener">Download Me!</a> -->
  </div>
  <p>Drag and Drop a File</p>

      <div class="file-field">
        <div class="btn btn-primary waves-light" mdbRippleRadius>
          <span>Choose file</span>
          <input type="file" (change)="startUpload($event.target.files)" >
        </div>
<!--         <div class="file-path-wrapper">
          <input class="file-path" type="text" placeholder="Upload your file" >
        </div> -->
      </div>


<!--   <div class="file">
    <label class="file-label">
      <input class="file-input btn" type="file" (change)="startUpload($event.target.files)">
      <i class="fa fa-upload"></i>
      <span class="file-cta">
        <span class="file-icon">
        </span>
      </span>
    </label>
  </div> -->


</div>
<div *ngIf="percentage | async as pct">

  <progress class="progress is-info" [value]="pct" max="100">
  </progress>
  {{ pct | number }}%
</div>

<div *ngIf="(snapshot | async) as snap">
  {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}
  <hr>

  <button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
  <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
  <button (click)="task.resume()" class="button is-info" [disabled]="!(snap?.state === 'paused')">Resume</button>
</div>

<form (ngSubmit)="onSubmit()" style="padding-top:60px; margin:20px">
  <label>image</label>
  <input type="text" [(ngModel)]="item.image" name="image" hidden trim>
  <input type="text" [(ngModel)]="item.thumbnail" name="image" hidden trim>
  <div>
    <img src="{{item.image}}" width="300">
  </div>
  <label>thumbnail</label>
  <input type="text" [(ngModel)]="item.thumbnail" name="image" hidden trim>
  <div>
    <img src="{{item.thumbnail}}" width="200">
  </div>
  <div class="input-field">
    <label>العنوان</label>
    <input type="text" placeholder="عنوان المقال" [(ngModel)]="item.title" name="title" trim>
  </div>
  <div class="input-field">
    <label>نوع المقال</label>
    <input type="text" placeholder="نوع المقال" [(ngModel)]="item.type" name="type" trim>
  </div>
  <!-- <div><img src="{{item.image}}" width="300"></div> -->

  <label>المقال</label>
  <!-- <textarea [(ngModel)]="item.content" name="content" placeholder="المقال"></textarea> -->
  <!-- <fate-ui uiId="1"></fate-ui> -->
  <fate-input uiId="1" name="content" [(ngModel)]="item.content"></fate-input>
  <label>ملخص المقال</label>
  <!-- <fate-ui uiId="2"></fate-ui> -->
  <!-- <textarea [(ngModel)]="item.subContent" name="subContent" placeholder="ملخص المقال"></textarea> -->
  <fate-input uiId="2" name="subContent" [(ngModel)]="item.subContent"></fate-input>
  <!-- <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="false" [(ngModel)]="item.content"></app-ngx-editor> -->
  <div>
    <mdb-date-picker name="mydate" [placeholder]="'Selected date'" [(ngModel)]="item.creatAt"></mdb-date-picker>
  </div>
  <div class="modal-footer justify-content-center">
    <!-- <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" routerLink="/admin" mdbRippleRadius>غــلــق</button> -->
    <button type="submit" value="Submit" class="btn btn-primary waves-light" mdbRippleRadius>حفظ التغييرات</button>
  </div>
</form>