<div class="container" style="padding-top: 60px">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-12 text-center mb-5">
            <h1 class="font-bold light-blue-text my-5">ملف برنامج حكومة جمهورية العراق للاعوام 2014-2018</h1>
            <h5>مقدم من قبل دولة رئيس الوزراء الدكتور حيدر جواد العبادي امام ممثلي الشعب اعضاء مجلس النواب في جلسة تقديم الحقيبة
                الوزارية
            </h5>
            <br>
            <h5 style="text-align: right"> الاطار العام للبرنامج الحكومي </h5>
            <br>
            <h5>مقدمة</h5>
            <p align="justify">
                مع قرب إنطلاقة عمل حكومة جمهورية العراق الجديدة وتولي إدارة شؤونها للفترة بين عامي ٣٠١٤ و٣٠١2، فقد حرصنا علي إعداد برنامج
                حكومي يكون بمثابة قاعدة عمل تبني عليها خطط وبرامج الوزارات والجهات عير المرتبطة بوزارة. لقد تمكنت جميج الجهات
                المعنية من انجاز الملفات الحكومية المختلعة التي تم توثيق عمل كل وزارة او جهة لمهامها والقوانين والانظمة التي
                سيعمل بها الغريق الحكومي البى جانب المقترحات والتوصيات واعمال اللجان المختصة التي تم اعدادها في اطار خطط
                عمل قصيرة ومتوسطة المدى، وسيتم تسليم السادة الوزراء المهام والملفات بعد مراسم إداء اليمين الدستورية امام
                مجلس النواب الموقر، وتعد الحكومة ابناء الشعب العراقي بان الاداء العام للحكومة سيكون بمثابة التزام وطني واخلاقي
                لعملها علي مدى السنوات الاربج المقبلة . لقد تم بناء الاطار العام للحكومة علي مباديء .الدستور والثوابت الوطنية
                وما تضمنته خطة التنمية الوطنية الخمسية ١2 ٣٠-١V ٣٠ من متطلبات فضلا عن الستراتيجيات الوطنية، القطاعية والمكانية.
                و٠ج الحرص الشديد للحكومة علي الالتزام باعداد وتنفيذ خطة شاملة تغطي مدة مسؤولياتها الممتدة حتي عام ٣٠١2، إلا
                ان ما آلت اليه ظروف عدد من المحافظات التبي تعرضت للهجمة الارشادية علي ايدي عصابات داعش الإجرامية، تقتضي تبني
                خطة عمل طارئة لمعالجة تداعيات قده الهجمة لا سيما في مجال معالجة مشكلة النازحين سواء لجهة تامين متطلبات معيشتهم
                وفي المقدمة تامين السكن المناسب لهم او لتنظيم عملية التحاق ابنائهم في صفوف الدراسة في المراحل المختلغة،كما
                يتضمن البرنامج الحكومي كشفا تفصيليا للاولويات الستراتيجية لعمل الحكومة خلال السنوات المقبلة. ان الحكومة علي
                اتم الاستعداد لبدل جهود اسثنائية خلال الشهور الثلاثة الاولي لاعداد الخطط التفصيلية لتحقيق الائداف المحددة،
                وهو مايستوجب بدل جهود نوعية سيقوم بها المستشارون والخبراء الي جانب السادة اعضاء مجلس الوزراء للاتفاق علي
                تغاصيل البرنامج الحكومي الدي سيكون مبنيا علي قاعدة رصينة تؤمن مستلزمات النجاح لتطبيقها علي ارض الواقج والتصدى
                بخطى ثابتة لمواجهة التحديات المتعددة. وتلتزم الحكومة بوضج منهاج شغاف لتقويم الإداء وتشخيص مواطن القوة والضعف
                في مسيرة عمل الوزارات في المجالات المختلفة وعلى مديات زمنية فصلية وسنوية في اطار رؤية جادة وقوية تعكس حرصها
                الشديد علي تنفيد البرنامج الحكومي وتحقيق اقداف وتطلعات ابناء الشعب العراقي الكريم ض جميج مكوناته لبناء عراق
                آمن وحر و٥زدهر. والله ولي التوفيق الحكور حيدر جواد العبادي رئيس ٠جلس الوزراء جمهورية العراق ايلول ٣٠١٤</p>
            <a class="navbar-brand" href="https://firebasestorage.googleapis.com/v0/b/firebase-egav.appspot.com/o/1.pdf?alt=media&token=fe5fc39f-2f05-45a8-9856-0f57711923a1"
                style="text-align: right">اقرا المزيد</a>
        </div>
        <div class="col-md-12 text-center mb-5">
            <h5 style="text-align: right">الأوليات السترإتيجية في خطة عمل الوزارات للمدة٢٠١٤-٢٠١٨
            </h5>
            <br>
            <p align="justify">
                مع قرب إنطلاقة عمل حكومة جمهورية العراق الجديدة وتولي إدارة شؤونها للفترة بين عامي ٣٠١٤ و٣٠١2، فقد حرصنا علي إعداد برنامج
                حكومي يكون بمثابة قاعدة عمل تبني عليها خطط وبرامج الوزارات والجهات عير المرتبطة بوزارة. لقد تمكنت جميج الجهات
                المعنية من انجاز الملفات الحكومية المختلعة التي تم توثيق عمل كل وزارة او جهة لمهامها والقوانين والانظمة التي
                سيعمل بها الغريق الحكومي البى جانب المقترحات والتوصيات واعمال اللجان المختصة التي تم اعدادها في اطار خطط
                عمل قصيرة ومتوسطة المدى، وسيتم تسليم السادة الوزراء المهام والملفات بعد مراسم إداء اليمين الدستورية امام
                مجلس النواب الموقر، وتعد الحكومة ابناء الشعب العراقي بان الاداء العام للحكومة سيكون بمثابة التزام وطني واخلاقي
                لعملها علي مدى السنوات الاربج المقبلة . لقد تم بناء الاطار العام للحكومة علي مباديء .الدستور والثوابت الوطنية
                وما تضمنته خطة التنمية الوطنية الخمسية ١2 ٣٠-١V ٣٠ من متطلبات فضلا عن الستراتيجيات الوطنية، القطاعية والمكانية.
                و٠ج الحرص الشديد للحكومة علي الالتزام باعداد وتنفيذ خطة شاملة تغطي مدة مسؤولياتها الممتدة حتي عام ٣٠١2، إلا
                ان ما آلت اليه ظروف عدد من المحافظات التبي تعرضت للهجمة الارشادية علي ايدي عصابات داعش الإجرامية، تقتضي تبني
                خطة عمل طارئة لمعالجة تداعيات قده الهجمة لا سيما في مجال معالجة مشكلة النازحين سواء لجهة تامين متطلبات معيشتهم
                وفي المقدمة تامين السكن المناسب لهم او لتنظيم عملية التحاق ابنائهم في صفوف الدراسة في المراحل المختلغة،كما
                يتضمن البرنامج الحكومي كشفا تفصيليا للاولويات الستراتيجية لعمل الحكومة خلال السنوات المقبلة. ان الحكومة علي
                اتم الاستعداد لبدل جهود اسثنائية خلال الشهور الثلاثة الاولي لاعداد الخطط التفصيلية لتحقيق الائداف المحددة،
                وهو مايستوجب بدل جهود نوعية سيقوم بها المستشارون والخبراء الي جانب السادة اعضاء مجلس الوزراء للاتفاق علي
                تغاصيل البرنامج الحكومي الدي سيكون مبنيا علي قاعدة رصينة تؤمن مستلزمات النجاح لتطبيقها علي ارض الواقج والتصدى
                بخطى ثابتة لمواجهة التحديات المتعددة. وتلتزم الحكومة بوضج منهاج شغاف لتقويم الإداء وتشخيص مواطن القوة والضعف
                في مسيرة عمل الوزارات في المجالات المختلفة وعلى مديات زمنية فصلية وسنوية في اطار رؤية جادة وقوية تعكس حرصها
                الشديد علي تنفيد البرنامج الحكومي وتحقيق اقداف وتطلعات ابناء الشعب العراقي الكريم ض جميج مكوناته لبناء عراق
                آمن وحر و٥زدهر. والله ولي التوفيق الحكور حيدر جواد العبادي رئيس ٠جلس الوزراء جمهورية العراق ايلول ٣٠١٤</p>
            <a class="navbar-brand" href="https://firebasestorage.googleapis.com/v0/b/firebase-egav.appspot.com/o/2.pdf?alt=media&token=84104485-a7fb-4fbc-a20b-911f83d1aefc">اقرا المزيد</a>
        </div>
        <div class="col-md-12 text-center mb-5">
            <h5 style="text-align: right">ملف برنامج حكومة جمهورية العراق للاعوام ٢٠١٤ -٢.١٨</h5>
            <br>
            <div style="text-align: right">
                <a class="navbar-brand" href="https://firebasestorage.googleapis.com/v0/b/firebase-egav.appspot.com/o/3.pdf?alt=media&token=bd23dcc6-ef97-4c6f-94ee-a6286c8c2737">اقرا المزيد</a>
            </div>
        </div>
        <div class="col-md-12 text-center mb-5">
            <h5 style="text-align: right">وثيقة الاتفاق السياسي بين الكتل السياسية </h5>
            <br>
            <div style="text-align: right">
            <a class="navbar-brand" href="https://firebasestorage.googleapis.com/v0/b/firebase-egav.appspot.com/o/4.pdf?alt=media&token=c4280efe-4016-4d4f-9a2f-c0ee1784f95c">اقرا المزيد</a>
        </div>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>