main {
    padding-top: 0px;
    overflow-y: scroll;
    // border-right: 3px solid gray;
    // border-left: 3px solid gray;
    max-height: 100vh;
    //width: 70vw;
    margin: auto;
    text-align:center ;
    padding : 1em ;
}
